<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-dimgray">a</h1>
    <h2 class="text-dimgray">a</h2>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to '利用規約', term_path, class:"border-bottom: solid 1px black" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'よくある質問', question_path,class: "border-bottom: solid 1px black"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to '登録情報', registation_path,class: "border-bottom: solid 1px black"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'ログアウトする', logout_path,class: "border-bottom: solid 1px black"  %>
      </div>
    </div>
  </div>
</div>
