<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white"><b>Rental.M.C</b></h1>
    <h2 class="text-white">バイクをシェアする</h2>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to 'ログインする', login_path, class: 'btn btn-primary btn-dimgray' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to '会員登録をする', new_user_path,class: 'btn btn-primary btn-dimgray' %>
      </div>
    </div>
  </div>
</div>
