<div class="users-new-wrapper">
  <div class="container">
      <div class="col-md-offset-4 col-md-4 users-new-container">
       <h1>gmap</h1>
    <div class='map'></div>


    <script>
     function initMap(){
      let map = new google.maps.Map(document.getElementById('map'), {
       center: {lat: -34.397, lng: 150.644},
      zoom: 8
      });
     }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"asyncdefer></script>

     
       
    </div>
  </div>
</div>
    
