<div class="users-new-wrapper">
  <div class="container users-new-container-home">
    <div class="col-md-offset-2 col-md-offset-2 ">
       
<h2><%= @title %></h2>

<div id='map'></div>

<style>
#map{
  height: 500px;
  width: 750px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6809591, lng: 139.7673068},
  zoom: 8
  });
}
</script>
<script src=<%= @url %> async defer></script>
</div>
 </div>
</div>
