h1, h2 {
  font-weight: 100;
}

.search-form{
  
}

.home-list{
  
}


.map{
    height: 100px;
    width: 1000px;
}

.users-new-wrapper {
  width: 115vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dcdddd;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

