h1, h2 {
  font-weight: 100;
}

.search-form{
  
}

.home-list{
  
}


.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dcdddd;

  .users-new-container-home {
    padding-top: 70px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}


