.text-white {
  color: #a59564;
}

.text-black {
  color: #000000;
}

.btn-dimgray {
  color: #a59564;
  border: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  margin-bottom: 15px;

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dcdddd;
}

.top-hero-container {
  padding-top: 120px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}